

body{
    background-color: rgb(44, 44, 44);
    font-family: 'Trebuchet MS';
    margin: 0%;
    padding: 20px;
    text-align: center;
}

.calculator{
    display: inline-block;
    background-color: rgb(31, 31, 31);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    border: 5px solid #1c1c1c
}

#display{
    color: rgb(12, 12, 12);
    font-family: 'VT323';
    width: 95%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font: bold;
    text-align: left;
    border-radius: 10px;
    border: 5px solid #383838;
    font-size: 2rem
}

.buttons{
 display: grid;
 grid-template-columns: repeat(5,50px);
 gap: 10px
}

button{
 height: 50px;
 background-color: rgb(75, 75, 75);;
 color: black;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
border: 5px solid #383838;
border-radius: 5px;
cursor:pointer;
font-size: 1.5rem;
font-weight:bolder;
text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

button:hover{
    background-color: rgb(67, 67, 67);
    transition: 250ms;
}
button.clear{
    background-color: rgb(124, 124, 124);
}

button.clear:hover{
    background-color: rgb(100, 100, 100);
    transition: 250ms;
}

button.calc{
    background-color: rgb(124, 124, 124);
}